.golden {
        color: #C79F27;
}

.silver {
        color: #696969;
}
.no-margin {
        margin: 0 0 0 0;
}
.border-bottom {
        border-bottom: 1px solid #DDD;
        margin: 0 0 20px 0;
}


